<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shah.langtutor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Main Activity-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Language Activities-->
        <activity
            android:name=".Gujarati.GujaratiActivity"
            android:label="@string/gujarati"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".HIndi.HindiActivity"
            android:label="@string/hindi"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Marathi.MarathiActivity"
            android:label="@string/marathi"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".French.FrenchActivity"
            android:label="@string/french"
            android:parentActivityName=".MainActivity"/>

        <!-- Hindi language Categories-->
        <activity
            android:name=".HIndi.HindiAlphabetsActivity"
            android:label="@string/alphabets"
            android:parentActivityName=".HIndi.HindiActivity"/>
        <activity
            android:name=".HIndi.HindiNumbersActivity"
            android:label="@string/numbers"
            android:parentActivityName=".HIndi.HindiActivity"/>
        <activity
            android:name=".HIndi.HindiColorsActivity"
            android:label="@string/colors"
        android:parentActivityName=".HIndi.HindiActivity"/>
        <activity
            android:name=".HIndi.HindiPhrasesActivity"
            android:label="@string/phrases"
            android:parentActivityName=".HIndi.HindiActivity"/>

        <!-- Gujarati language Categories-->
        <activity
            android:name=".Gujarati.GujaratiAlphabetsActivity"
            android:label="@string/alphabets"
            android:parentActivityName=".Gujarati.GujaratiActivity"/>
        <activity
            android:name=".Gujarati.GujaratiNumbersActivity"
            android:label="@string/numbers"
            android:parentActivityName=".Gujarati.GujaratiActivity"/>
        <activity
            android:name=".Gujarati.GujaratiColorsActivity"
            android:label="@string/colors"
            android:parentActivityName=".Gujarati.GujaratiActivity"/>
        <activity
            android:name=".Gujarati.GujaratiPhrasesActivity"
            android:label="@string/phrases"
            android:parentActivityName=".Gujarati.GujaratiActivity"/>

        <!-- Marathi language Categories-->
        <activity
            android:name=".Marathi.MarathiAlphabetsActivity"
            android:label="@string/alphabets"
            android:parentActivityName=".Marathi.MarathiActivity"/>
        <activity
            android:name=".Marathi.MarathiNumbersActivity"
            android:label="@string/numbers"
            android:parentActivityName=".Marathi.MarathiActivity"/>
        <activity
            android:name=".Marathi.MarathiColorsActivity"
            android:label="@string/colors"
            android:parentActivityName=".Marathi.MarathiActivity"/>
        <activity
            android:name=".Marathi.MarathiPhrasesActivity"
            android:label="@string/phrases"
            android:parentActivityName=".Marathi.MarathiActivity"/>

        <!-- French language Categories-->
        <activity
            android:name=".French.FrenchAlphabetsActivity"
            android:label="@string/alphabets"
            android:parentActivityName=".French.FrenchActivity"/>
        <activity
            android:name=".French.FrenchNumbersActivity"
            android:label="@string/numbers"
            android:parentActivityName=".French.FrenchActivity"/>
        <activity
            android:name=".French.FrenchColorsActivity"
            android:label="@string/colors"
            android:parentActivityName=".French.FrenchActivity"/>
        <activity
            android:name=".French.FrenchPhrasesActivity"
            android:label="@string/phrases"
            android:parentActivityName=".French.FrenchActivity"/>

    </application>

</manifest>