<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shah.langtutor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gujarati.GujaratiActivity"
            android:label="@string/gujarati" />
        <activity
            android:name=".HIndi.HindiActivity"
            android:label="@string/hindi" />
        <activity
            android:name=".Marathi.MarathiActivity"
            android:label="@string/marathi" />
        <activity
            android:name=".HIndi.HindiAlphabetsActivity"
            android:label="@string/alphabets" />
        <activity
            android:name=".HIndi.HindiNumbersActivity"
            android:label="@string/numbers" />
        <activity
            android:name=".HIndi.HindiColorsActivity"
            android:label="@string/colors" />
        <activity
            android:name=".HIndi.HindiPhrasesActivity"
            android:label="@string/phrases" />
        <activity
            android:name=".Gujarati.GujaratiAlphabetsActivity"
            android:label="@string/alphabets" />
        <activity
            android:name=".Gujarati.GujaratiNumbersActivity"
            android:label="@string/numbers" />
        <activity
            android:name=".Gujarati.GujaratiColorsActivity"
            android:label="@string/colors" />
        <activity
            android:name=".Gujarati.GujaratiPhrasesActivity"
            android:label="@string/phrases" />
        <activity
            android:name=".Marathi.MarathiAlphabetsActivity"
            android:label="@string/alphabets" />
        <activity
            android:name=".Marathi.MarathiNumbersActivity"
            android:label="@string/numbers" />
        <activity
            android:name=".Marathi.MarathiColorsActivity"
            android:label="@string/colors" />
        <activity
            android:name=".Marathi.MarathiPhrasesActivity"
            android:label="@string/phrases" />
        <activity android:name=".Japanese.JapaneseActivity" />
        <activity android:name=".French.FrenchActivity"></activity>
    </application>

</manifest>